body {
  height: 100%;
  width: 100%;
  margin: 0 0 0 0;
}
#container {
  font-family: Nunito;
  display: flex;
}

section.side-left-menu {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 40vh;
  background-color: #f2f2f2;
}

.avatar {
  width: 15vh;
  padding-left: 60px;
  padding-top: 60px;
  margin-bottom: 0px;
}

.name {
  padding: 50px;
  margin-top: 0px;
}

.avatar-sec {
  background-color: #f2f2f2;
  width: 200px;
}

.nav-link {
  font-size: 15pt;
  margin: 20px;
}

ul {
  list-style-type: none;
}

li a {
  display: block;
  text-decoration: none;
  color: black;
}

.nav-link:hover {
  color: #2562ff;
}

.nav-link:visited {
  color: #2562ff;
}

.daily {
  text-decoration: none;
}

.daily:visited {
  color: #ff4646;
}

.daily:link {
  color: black;
}

.weekly:link {
  color: black;
}

.weekly:visited {
  color: #ff4646;
}

.weekly {
  text-decoration: none;
}

section.side-right-menu {
  width: 100%;
  background-color: #fff;
  height: 100vh;
}

div.date {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 80px;
  font-size: 20pt;
}

.day-desc {
  margin-right: 10px;
  text-transform: uppercase;
  margin-left: 20px;
  padding: 0px;
}

div.schedule-sec {
  display: flex;
  justify-content: space-evenly;
}

.input {
  padding: 10px;
  border-radius: 50px;
  border: none;
  width: 500px;
}

.time {
  padding: 10px;
  border-radius: 50px;
  border: none;
  width: 8vh;
}

.form {
  background-color: #fcfcfc;
  height: 69vh;
  width: 100%;
}

.board {
  border: none;
}

.input-week {
  padding: 10px;
  border-radius: 50px;
  border: none;
  width: 115px;
}

.input-date {
  padding: 10px;
  border-radius: 50px;
  border: none;
  width: 115px;
}
