body {
  height: 100%;
  width: 100%;
}
#container {
  font-family: Nunito;
  display: flex;
}

.avatar {
  height: 15vh;
  width: 15vh;
  margin: 0px 0px 0px 0px;
}

.avatar-sec {
  background-color: #f2f2f2;
  width: 200px;
}

.nav-link {
  font-size: 15pt;
  margin: 20px;
}

ul {
  list-style-type: none;
}

li a {
  display: block;
  text-decoration: none;
}

section.side-right-menu {
  width: 100%;
  background-color: #fff;
  height: 100vh;
}

section.side-left-menu {
  height: 100vh;
  background-color: #f2f2f2;
}

div.date {
  display: flex;
  justify-content: flex-start;
}

.day-desc {
  margin-right: 10px;
  text-transform: uppercase;
  margin-left: 20px;
  padding: 0px;
}

div.schedule-sec {
  display: flex;
  justify-content: space-evenly;
}
